.auth-container{
    background-image: url('../src/assets/images/authImg/auth-bg.png');
    background-size: cover;
    background-position: center center;
}

.bg-overlay{
    background: linear-gradient(45deg,rgba(47,140,96,0.6),rgba(0,0,0,0.99));
}
.green-color{
    color: #4AA35A;

}

.button-bg,
.button-bg:hover{
    background-color: #4AA35A;
}
.btnColor, 
.btnColor:hover{
    background-color: #009247;

}


/*Header */
.bg-header{
    background: url('./assets/images/circls55.svg') no-repeat left ,rgb(0, 146, 71);
}


.sidebar-container .ps-sidebar-root{
    border-right: none;
}
.sidebar-container .ps-sidebar-container{
    border-top-right-radius: 35px;
    color: #fff;
    min-height: 100vh;
    background-color: rgba(31, 38, 62, 1);
}
.sidebar-container .ps-menu-button{
    transition: all 1s;
}
.sidebar-container .ps-menu-button:hover,
.sidebar-container .active{
    background-color: rgba(0, 146, 77, 0.1) !important;
    border-left: 5px solid rgba(0, 146, 77, 1) ;
}

.home-container,
.recipes-container,
.categories-container{
    background-color: rgba(240, 255, 239, 1);
}

/* .layout {
    display: flex;
  } */
  
  /* sidebar fixed */
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
  }
  
  /* content*/
  .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    padding: 20px;
  }
  .main-content.collapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
    transition: 0.3s;
  }