.auth-container{
    background-image: url('../src/assets/images/authImg/auth-bg.png');
    background-size: cover;
    background-position: center center;
}

.bg-overlay{
    background: linear-gradient(45deg,rgba(47,140,96,0.6),rgba(0,0,0,0.99));
}
.green-color{
    color: #4AA35A;

}

/* .button-bg,
.button-bg:hover{
    background-color: #4AA35A;
} */

.button-bg {
    background-color: #4AA35A; 
    color: white;           
    border: none;
}

.button-bg:hover {
    background-color: #4AA35A; 
}

.button-bg:active {
    background-color: #449d55; 
}

.button-bg:disabled {
    background-color: #4AA35A; 
    opacity: 0.8;              
    cursor: not-allowed;
}


.btnColor, 
.btnColor:hover{
    background-color: #009247;

}


/*---------------------------------------Header------------------------- */
.bg-header{
    background: url('./assets/images/circls55.svg') no-repeat left ,rgb(0, 146, 71);
}

/* Animation on title and desc in header */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .header-title {
    animation: slideInLeft 2s ease-out forwards;
  }
  
  .header-desc {
    animation: slideInLeft 2.5s ease-out forwards;
  }

/* Animation on img in headers */
 @keyframes softPulse {
    0% {
      transform: translateY(0);
      opacity: 0.85;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 0.85;
    }
  }
  .header-image {
    animation: softPulse 2.8s ease-in-out infinite;
  }
  

  /* sidebar */
.sidebar-container .ps-sidebar-root{
    border-right: none;
}
.sidebar-container .ps-sidebar-container{
    border-top-right-radius: 35px;
    color: #fff;
    min-height: 100vh;
    background-color: rgba(31, 38, 62, 1);
}
.sidebar-container .ps-menu-button{
    transition: all 1s;
}
.sidebar-container .ps-menu-button:hover,
.sidebar-container .active{
    background-color: rgba(0, 146, 77, 0.1) !important;
    border-left: 5px solid rgba(0, 146, 77, 1) ;
}

.home-container,
.recipes-container,
.categories-container{
    background-color: rgba(240, 255, 239, 1);
}
  
  /* sidebar fixed */
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
  }
  
  /* content*/
  .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    padding: 20px;
  }
  .main-content.collapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
    transition: 0.3s;
  }

  /* notfound */
  .notfound-bg{
    position: fixed;
    top:0;
    right: 0;
  }
  .notfound-bg1{
    position: absolute;
    bottom: 20px;
    right: 0;
  }

  /* Table */
  .table tbody tr>td,
  .table tbody tr>th{
    transition: background-color 0.3s ease;
  }
  .table tbody tr:hover > td,
  .table tbody tr:hover >th
   {
    background-color: #1ab364 !important;
    /* color: #009247; */
    cursor: pointer;
  }

  .table tbody tr img {
  transition: transform 0.3s ease; 
  border-radius: 6px; 
}


.table tbody tr:hover img{
  transform: scale(1.2); 
}


/* Favorite list */
.card {
  overflow: hidden; 
  border-radius: 6px; 
}
.card-img-top {
  transition: transform 0.3s ease; 
  border-radius: 6px;
}
.card:hover .card-img-top {
  transform: scale(1.1); 
}

.card-body {
  background-color: rgba(177, 199, 177, 0.2); 
  padding: 10px;
  border-radius: 0 0 6px 6px; 
}



  